@model DBA5.Models.ShowEditViewModel

@{
    ViewBag.Title = "Edit Show";
}

<h2>Edit Show</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Genre)
        @Html.EditorFor(model => model.Genre)
        @Html.ValidationMessageFor(model => model.Genre)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReleaseDate)
        @Html.EditorFor(model => model.ReleaseDate)
        @Html.ValidationMessageFor(model => model.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImageUrl)
        @Html.EditorFor(model => model.ImageUrl)
        @Html.ValidationMessageFor(model => model.ImageUrl)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Coordinator)
        @Html.EditorFor(model => model.Coordinator)
        @Html.ValidationMessageFor(model => model.Coordinator)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Premise)
        @Html.EditorFor(model => model.Premise)
        @Html.ValidationMessageFor(model => model.Premise)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
